alembic==1.13.0
altgraph==0.17.4
asgiref==3.7.2
async-timeout==4.0.2
bidict==0.22.0
blinker==1.7.0
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.0.4
colorama==0.4.6
contourpy==1.2.0
crypto==1.4.1
cycler==0.12.1
Deprecated==1.2.13
Django==3.2.11
django-cors-headers==3.13.0
djangorestframework==3.14.0
dnspython==2.2.1
et-xmlfile==1.1.0
eventlet==0.33.0
Flask==2.0.3
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
Flask-Migrate==4.0.5
Flask-Script==2.0.6
Flask-SocketIO==5.1.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.0.0
fonttools==4.47.0
greenlet==1.1.2
gunicorn==21.2.0
h11==0.14.0
idna==3.4
importlib-metadata==6.9.0
importlib-resources==6.1.1
itsdangerous==2.1.2
jieba==0.42.1
Jinja2==3.1.1
kiwisolver==1.4.5
lxml==4.9.3
Mako==1.3.0
MarkupSafe==2.1.1
matplotlib==3.8.2
Naked==0.1.32
networkx==3.2.1
numpy==1.26.1
openpyxl==3.1.2
packaging==24.0
pefile==2023.2.7
Pillow==9.1.1
prettytable==3.9.0
psutil==5.9.4
pyasn1==0.5.1
pycryptodome==3.19.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
PyJWT==2.8.0
pymongo==4.6.2
PyMySQL==1.0.2
pyparsing==3.0.7
pypng==0.20220715.0
python-dateutil==2.8.2
python-engineio==4.3.1
python-socketio==5.5.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
qrcode==7.4.2
requests==2.31.0
rsa==4.9
shellescape==3.8.1
simple-websocket==1.0.0
six==1.16.0
SQLAlchemy==2.0.23
sqlparse==0.4.4
tornado==6.3.3
typing_extensions==4.1.1
urllib3==2.0.7
wcwidth==0.2.13
websockets==12.0
Werkzeug==2.2.3
wrapt==1.14.0
wsproto==1.2.0
WTForms==3.0.1
xlwt==1.3.0
zipp==3.17.0
